:root{
--base-color: #ffffff;
--text-color: #00000;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    padding: 1em;
     background-color: lightgrey;

}
h1,h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav{
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: red;
    
}

nav a:hover{
    text-decoration: underline;
}

header, section{
    margin: 2em auto;
    width: min (75em, 100%);
    background-color:  lightpink;
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;

}
.text-container{
    flex: 0 1 34em;

}

h1{
    font-size: 2.5rem;

}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button{
    display: inline-block;
    text-decoration: none;
    color: rgb(248, 7, 7);
    background-color: white;
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.scondary {
    background-color: orange;
}
section{
    padding: 3em min(23m, 15%);
    background-color: darkcyan;
    text-align: center;

}

h2{
    font-size: 2rem;
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
}
section#my-work{
    background-color: darkkhaki;

}
.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em;
}

.grid-container img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;


}

.grid-container img:hover{
    scale: 1.05;
}